<div class="form-container">
    <h2 class="form-title">Agregar Nuevo Videojuego</h2>
    
    <form (ngSubmit)="onSubmit()">
      <!-- Título -->
      <div class="form-group">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" [(ngModel)]="nuevoVideojuego.titulo" name="titulo" required>
      </div>
  
      <!-- Clasificación -->
      <div class="form-group">
        <label for="clasificacion">Clasificación:</label>
        <input type="text" id="clasificacion" [(ngModel)]="nuevoVideojuego.clasificacion" name="clasificacion" required>
      </div>
  
      <!-- Descripción -->
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" [(ngModel)]="nuevoVideojuego.descripcion" name="descripcion" required>
      </div>
  
      <!-- Fecha de Lanzamiento -->
      <div class="form-group">
        <label for="fechaLanzamiento">Fecha de Lanzamiento:</label>
        <input type="date" id="fechaLanzamiento" [(ngModel)]="nuevoVideojuego.fechaLanzamiento" name="fechaLanzamiento" required>
      </div>
  
      <!-- Número de Descargas -->
      <div class="form-group">
        <label for="numDescargas">Número de Descargas:</label>
        <input type="number" id="numDescargas" [(ngModel)]="nuevoVideojuego.numDescargas" name="numDescargas" required min="0">
      </div>
  
      <!-- Botón de submit -->
      <button type="submit" class="submit-btn">Agregar Videojuego</button>
    </form>
  </div>
  