<h2>Agregar Nuevo Videojuego</h2>
<form (ngSubmit)="onSubmit()">
  <div>
    <label for="nombre">Título:</label>
    <input type="text" id="nombre" [(ngModel)]="nuevoVideojuego.nombre" name="nombre" required>
  </div>

  <div>
    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" [(ngModel)]="nuevoVideojuego.descripcion" name="descripcion" required>
  </div>

  <div>
    <label for="fechaLanzamiento">Fecha de Lanzamiento:</label>
    <input type="date" id="fechaLanzamiento" [(ngModel)]="nuevoVideojuego.fechaLanzamiento" name="fechaLanzamiento" required>
  </div>

  <div>
    <label for="rating">Clasificación:</label>
    <input type="number" id="rating" [(ngModel)]="nuevoVideojuego.rating" name="rating" min="0" max="5" step="0.1" required>
  </div>

  <div>
    <label for="downloads">Número de Descargas:</label>
    <input type="number" id="downloads" [(ngModel)]="nuevoVideojuego.downloads" name="downloads" min="0" required>
  </div>

  <button type="submit">Agregar Videojuego</button>
</form>
