.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./../../../assets/images/fondoGame.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
  
    .form-signin {
      width: 100%;
      max-width: 400px;
      padding: 40px;
      background: rgba(255, 255, 255, 0.9); // Fondo blanco con opacidad
      border-radius: 20px; // Bordes más redondeados para un estilo suave
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); // Sombra para destacar
      text-align: center;
  
      .checkbox {
        font-weight: 400;
      }
  
      h1 {
        color: #333;
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 20px;
      }
  
      .form-control {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 30px; // Bordes redondeados para los campos de entrada
        background-color: #f7f9fc;
        transition: all 0.3s ease;
  
        &:focus {
          border-color: #20c997; // Borde turquesa en foco
          box-shadow: 0 0 5px rgba(32, 201, 151, 0.5);
        }
      }
  
      button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        background-color: #aa26df; // Botón de color turquesa
        border: none;
        border-radius: 30px;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #17a488; // Turquesa más oscuro al pasar el cursor
        }
      }
  
      .text-muted {
        font-size: 0.9rem;
        color: #888;
        margin-top: 15px;
      }
    }
  }
  